@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

main {
    margin: 0 150px;
}

.item-title {
    position: relative;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
}

.item-title h2 {
    margin-bottom: 10px;
    font-family: 'Stick', sans-serif;
}

.item-title h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%; 
    height: 2px;
    background-color: black;
}

.container-item {
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;

}

.container-item img {
    width: 243px;
}

.item-elements {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 96px;
    margin-bottom: 20px;
}

.element {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* width: 318px; */
}

.element-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.element-img span {
    /* display: inline-block; */
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.element-img div {
    padding-top: 8px;
}

.element-content {
    /* width: 240px; */
    /* width: 550px; */
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.element-content h3 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Stick', sans-serif;
}

.element-content div {
    font-size: 20px;
    font-weight: medium;
}

.main-btn {
    width: 140px;
    cursor: pointer;
    height: 50px;
    font-size: 24px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
}



/* КОРЗИНА */

.cart-DelBtn {
    cursor: pointer;
    font-size: 32px;
    height: 30px;
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: none;
}

.main-Cardcontainer .container-item {
    width: 750px !important;
}

.main-Cardcontainer {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.main-Cardcontainer img{
    width: 175px;
}

.card-form textarea {
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none; 
}

.item-content {
    display: flex;
    flex-direction: column;
    gap: 35px
}

.form-place {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 100px */
    /* gap:5vw; */
}

.text-street {
    width: 12vw;
    height: 40px;
}

.text-house {
    width: 10vw;
    height: 40px;
}

.text-flat {
    width: 10vw;
    height: 40px;
}

.text-comment {
    width: 90%;
    height: 85px;
}

.card-form label {
    font-size: 32px;
    font-weight: medium;
}



/* ПАНЕЛЬ ЗАКАЗОВ */

.order-element {
    line-height: 1.4;
    padding: 25px;
    width: 630px;
    height: 670px;
    background-color: #242424;
    border-radius: 20px;
    margin-bottom: 50px;
}

.order-element h2 {
    font-size: 32px;
    color: white;
}

.order-element details {
    color: white;
    font-size: 32px;

}

.order-element textarea {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none; 
    width: 465px;
    height: 205px;
}